body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body >*{
    /* border: 3px red solid; */
}
.main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.game{
    height: 60vh;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.game > *{
    border: 3px red solid;
}

.str-game{
    flex: 1;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 70%;
    font-size: 3rem;
}



